vendor/
composer.phar
.htaccess

projects/**/*
backend/inc/super.php
backend/extensions/**/*
backend/wizards/**/*

!projects/index.php
!backend/extensions/index.php
!backend/extensions/cms/**/*
!backend/wizards/index.php

# Language-Folders
backend/inc/locale/login/*.php
backend/inc/locale/*.php
backend/inc/locale/*.js
backend/admin/extension_manager/inc/locale/*.php
backend/admin/generic_modeling/inc/locale/*.php
backend/admin/modeling/inc/locale/*.php
backend/admin/_project_setup/inc/locale/*.php

