# untracked Files&Folders

bac
.htaccess
projects/**/*
backend/admin/super.php
backend/extensions/**/*
backend/wizards/**/*

# ignore Files inside Language-Folders

backend/admin/extension_manager/inc/**/*
backend/admin/modeling/inc/**/*
backend/admin/_project_setup/inc/**/*

backend/inc/locale/login/*.php
backend/inc/locale/*.php
backend/inc/locale/*.js

# track Files&Folders inside untracked Folders

!projects/index.php
!backend/extensions/all/**/*
!backend/extensions/index.php
!backend/wizards/index.php

