/*additional styles*/
body
{
	background: url("BASEPATH/images/ui-bg_inset-soft_25_bgColorContent_1x100.png") repeat-x scroll 50% bottom #bgColorContent;
	color: #fcContent;
	font-family: ffDefault;
	font-size: 62.5%;
	margin: 11px;
	visibility: visible;
}
input, textarea
{
	background: #bgColorDefault;
	border: 1px solid #borderColorDefault;
	color: #fcDefault;
	margin: 5px;
}
select
{
	background: #bgColorDefault;
	border: 1px solid #borderColorDefault;
	border-radius: cornerRadius;
	color: #fcDefault;
	moz-border-radius: cornerRadius;
	webkit-border-radius: cornerRadius;
}
option
{
	border: 1px solid #borderColorDefault;
	color: #fcDefault;
	padding: 3px;
}
.fg-button
{
	cursor: pointer;
	margin: 0 4px 0 0;
	outline: 0;
	padding: .4em 1em;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	zoom: 1;
}
#iHead
{
	padding: 5px 3px;
}
#colLeft, #colMid, #colRight
{
	height: 500px;
	position: absolute;
	top: 55px;
}
#colLeft
{
	left: 10px;
	width: 200px;
	z-index: 5;
}
#colMid
{
	left: 220px;
	width: 500px;
	z-index: 4;
}
#colMidb .field
{
	margin-top: 10px;
	clear: both;
}
#colMidb label
{
	display: block;
	float: left;
	width: 120px;
}
#colMidb .cb
{
	clear: both;
}
#colMidb label a
{
	font-style: italic;
	position: relative;
	text-decoration: none;
}
#colMidb label a span
{
	display: none;
}
#colMidb label a:hover span
{
	background: #bgColorHighlight;
	border: 1px solid #borderColorHighlight;
	border-radius: cornerRadius;
	border-top-left-radius: 0;
	color: #fcHighlight;
	display: block;
	left: 0;
	padding: 10px;
	position: absolute;
	text-align: left;
	top: 20px;
	width: 200px;
	z-index: 601;
}
#colRight
{
	left: 730px;
	width: 300px;
	z-index: 3;
}
#colLeft, #colMid, #colRight
{
	border-radius: cornerRadius;
}
#colLeftb, #colMidb, #colRightb
{
	overflow: auto;
}
#colRight a, #actRel a, #right a
{
	display: inline-block;
	width: 90%;
}
#mainList a
{
	display: block;
	height: 100%;
}
#mainlist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mainlist li
{
	height: 18px;
	margin: 0px 5px 5px 5px;
	padding: 3px;
}
#mainlistHead
{
	padding: 5px;
}
#pagination span, #r_pagination span
{
	cursor: pointer;
}
.ilist .ui-selecting
{
}
.ilist .ui-selected
{
	background: #bgColorActive !important;
	color: #fcActive !important;
}
.ilist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ilist li
{
	cursor: pointer;
	height: 1.5em;
	margin: 3px;
	padding: 0.4em;
}
#innerForm
{
	border-bottom: 1px solid #borderColorContent;
	border-top: 1px solid #borderColorContent;
	margin: 5px 0;
	padding: 10px;
}
.listDivider
{
	color: #fcContent;
}
.ui-selectmenu-status
{
	font-weight: bold;
}
#dialog1, #dialog2
{
	display: none;
	z-index: 20;
}
#dialog3
{
	background: #eee;
	padding: 5px;
	position: absolute;
	top: -500px;
	z-index: 55;
}
.ui-timepicker-div .ui-widget-header


.slider
{
	margin: 5px 0;
	width: 95%;
}
.sbox
{
	background-image: url("../search.png");
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	margin: 3px;
	padding: 3px 3px 3px 25px;
	width: 200px;
}
.ui-tabs .ui-tabs-hide
{
	display: block !important;
	left: -10000px;
	position: absolute;
}
.ui-dialog .ui-dialog-titlebar-full
{
	height: 18px;
	margin: -10px 0 0 0;
	padding: 1px;
	position: absolute;
	right: 2em;
	top: 50%;
	width: 19px;
}
.ui-dialog .ui-dialog-titlebar-full span
{
	display: block;
	margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-full:hover,
.ui-dialog .ui-dialog-titlebar-full:focus
{
	padding: 0;
}
#sublist sup
{
	display: none;
}
#sublist2 sup
{
	color: #bgColorError;
}
.rlist
{
	border-bottom: 1px solid #borderColorContent;
	border-top: 1px solid #borderColorContent;
}
#messagebox
{
	font-weight: bold;
	left: 50%;
	margin-left: -150px;
	position: fixed;
	top: 10px;
	width: 300px;
	z-index: 1700;
}
#objectWizardHtml
{
	display: none;
}
.ui-autocomplete-loading
{
	background: white url('../spinner-mini.gif') right center no-repeat;
}
.embed_frame
{
	border: 0px none;
	height: 500px;
	width: 95%;
}
span.ui-icon-arrow-2-n-s, span.ui-icon-arrow-4
{
	margin-right: 20px;
}
.list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list li
{
	height: 18px;
	margin: 5px 5px 5px 5px;
	padding: 3px;
}
.list li a, .list select
{
	background: #bgColorDefault url(BASEPATH/images/ui-bg_glass_bgImgOpacityDefault_bgColorDefault_1x400.png) 50% 50% repeat-x;
	border: 1px solid #borderColorDefault;
	color: #fcDefault;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	padding: 5px 0px 5px 2px;
	text-decoration: none;
	width: 100%;
}
.list li a.sel
{
	background: #bgColorActive !important;
	color: #fcActive !important;
	padding: 5px 0px 5px 2px !important;
}

/* styles for Placeholder-Text */
:-moz-placeholder
{
	color: #fcActive;
}
::-moz-placeholder
{
	color: #fcActive;
}
::-webkit-input-placeholder
{
	color: #fcActive;
}

/* Wait-Dialog for all Ajax-Actions */
.wait
{
	display:    none;
	position:   fixed;
	z-index:    5555;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .5 ) 
				url('../spinner-big.gif') 
				50% 50% 
				no-repeat;
}
body.loading
{
	overflow: hidden;   
}
body.loading .wait
{
	display: block;
}
